header {
  margin: 4%;
  background-color: aquamarine;
  border-radius: 50px;
}
header > h1 {
  padding: 2%;
  color: white;
}
a {
  text-decoration: none;
  padding: 2%;
  color: teal;
}
nav {
  padding: 2%;
}
section {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  margin: 4%;
  justify-content: space-between;
  background-color: whitesmoke;
}
section img {
  height: 20%;
  width: 20%;
  padding: 1% 3%;
  border-radius: 50px;
}
footer {
  margin: 4%;
  background-color: skyblue;
  color: snow;
  border-radius: 50px;
}
footer ul {
  display: flex;
  padding: 2%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  header {
    margin: 4%;
    background-color: skyblue;
    border-radius: 50px;
  }
  header > h1 {
    padding: 2%;
    color: coral;
  }
  header a {
    padding: 2%;
    color: white;
  }
  section {
    display: flex;
    flex-direction: reverse;
    flex-wrap: wrap;

    margin: 4%;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 50px;
  }
  section img {
    height: 25%;
    width: 35%;
    padding: 5%;
  }
  #php {
    display: none;
  }
  footer {
    margin: 2%;
    background-color: aquamarine;
    color: lightcoral;
    border-radius: 50px;
  }
  footer ul {
    display: flex;
    padding: 2%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 4%;
    background-color: cornflowerblue;
    /* border-radius: 50px; */
  }
  header > h1 {
    padding: 2%;
    color: cyan;
  }
  header a {
    padding: 2%;
    color: maroon;
  }
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 4%;
    justify-content: space-between;
    background-color: whitesmoke;
    /* border-radius: 50px; */
  }
  section > img {
    /* align-items: center; */
    height: 35%;
    padding-left: 30%;
    width: 45%;
  }
  #php {
    display: none;
  }
  footer {
    margin: 2%;
    background-color: burlywood;
    color: white;
    /* border-radius: 50px; */
  }
  footer ul {
    display: flex;
    flex-direction: column;
    padding-left: 40%;
    /* justify-content: space-between; */
  }
  footer ul a {
    padding-bottom: 5%;
  }
}
